.admin-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .admin-content {
    display: flex;
    flex: 1;
    gap: 1rem; /* space between sidebar and main content */
    padding: 1rem;
    background-color: var(--base-white);
  }
  
  nav {
    flex: 0 0 250px; /* fixed width for sidebar */
  }
  
  .dashboard-container {
    flex: 1; /* takes remaining space */
    display: flex;
    flex-direction: column;
  }
  