.viewer-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .viewer-content {
    display: flex;
    flex: 1;
    gap: 1rem; /* space between sidebar and main content */
    padding: 1rem;
    background-color: var(--base-white);
  }
  
  nav {
    flex: 1 1 20%; /* grows/shrinks, starting at 20% of the row */
    max-width: 300px; /* optional cap */
    min-width: 180px; /* optional floor */
    background-color: var(--surface-white);
    border-radius: 2rem;
    padding: 1rem;
}

  
  .content-container {
    flex: 1; /* takes remaining space */
    display: flex;
    flex-direction: column;
  }
  